﻿.jumbotron {
    background-color: darkseagreen;
    color: black;
    margin-top: 50px;
}


footer {
    padding: 10px 10px 0 10px;
    background-color: lightgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    
    /**flex
        1:queremos que la propiedad flex-wrap se mantenga intacta
        2: nos da igual puede crecer el doble
        px especifica el ancho definido
    */
    flex: 1 250px;
    /**padding
        se usa como si fuera un reloj en sentido horario y empiezas con el top
    */
    padding: 2px 0px 0px 0px;
    margin-top: 10px;
    justify-content: space-between;
}

.btn-reserva {
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0px;
}

.fotter-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top:10px;
}

.info{
    padding-bottom: 10px;
}